<select [(ngModel)]="tipoDiForm">
    <option [ngValue]="'templateDriven'">Template Driven</option>
    <option [ngValue]="'reactive'">Reactive</option>
</select>

{{ tipoDiForm }}

<div *ngIf="tipoDiForm === 'templateDriven'" class="login-container">
    <app-login></app-login>
</div>

<div *ngIf="tipoDiForm === 'reactive'">
    <app-reactive></app-reactive>
</div>

<div class="app-container">
    {{ title }}
    <br>
    <br>
    <span>Il valore della checkbox è: {{ checkBoxValue }}</span>
    <br>
    <input type="checkbox" [(ngModel)]="checkBoxValue">
    <br>
    <br>
    <p>Il valore dell'input è: {{ meteo }}</p>
    <p>Scrivendo pioggia, il componente figlio (test) reagirà di conseguenza</p>
    <br>
    <input type="text" [(ngModel)]="meteo">
    <br><br>
    <app-test *ngIf="checkBoxValue" [meteo]="meteo" [altroInput]="'test altro input'"></app-test>

    <ng-container *ngIf="checkBoxValue; then onlineBlock else offlineBlock"></ng-container>

    <ng-template #onlineBlock>
        <p>ONLINE</p>
    </ng-template>
    <ng-template #offlineBlock>
        <p>OFFLINE, riprova più tardi</p>
    </ng-template>
    <hr>
    <div *ngFor="let frutto of frutti; let ind = index; let odd = odd; let count = count; let even = even; let first = first; let last = last"
        [class.dispari]="odd" [class.pari]="even">
        <p>Indice: {{ ind }}</p>
        <p>Nome: {{ frutto.name }} </p>
        <p>Descrizione: {{ frutto.desc }} </p>
        <p>L'array è lungo: {{ count }}</p>
        <p>E' dispari? -> {{ odd }}</p>
        <p>{{ first ? 'sono primo' : 'non sono primo' }}</p>
        <p>{{ last ? 'sono ultimo' : 'non sono ultimo' }}</p>
        <hr>
    </div>

    <!-- <ul>
        <li *ngFor="let frutto of frutti">
            {{ frutto.name }}
        </li>
    </ul> -->

    <ul [ngSwitch]="switchProp">
        <li *ngSwitchCase="'cane'">Cane</li>
        <li *ngSwitchCase="'gatto'">Gatto bianco</li>
        <li *ngSwitchCase="'topo'">Topo</li>
    </ul>

    <span>Online status: </span>
    <input type="checkbox" [(ngModel)]="online">
    <div class="box-status" [ngClass]="{'verde': online, 'rosso': !online }">
        <span>STATUS</span>
    </div>

    <router-outlet></router-outlet>
</div>