.navbar {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.active {
	background-color: aqua;	
}

p {
	color: blue;
}

.login-container {
	background-color: rgb(147, 180, 238);
	padding: 20px;
}

.app-container {
	background-color: beige;
	padding: 20px;
}

.dispari {
	background-color: rgb(174, 129, 216) !important;
}

.pari {
	background-color: rgb(225, 180, 162);
}

.box-status {
	min-width: 200px;
	min-height: 200px;
}

.verde {
	background-color: green;
}

.rosso {
	background-color: red;
}